
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Assigment</title>
    <head>
    <body>
    <p>What was the best assignment in 1006?</p>
    
    <p> We have many things to choose from but i think everyone can 
    agree that culmination of the Tumor data set and seeing all of the
     statistics was the best part of the whole class.</p> 
   
   <p> I have inluded some of the statistics below</p>
   
   <img src="/static/first.jpg" alt="Picture"  style="width:200px;height:200px;"> 
    <img src="/static/2.jpg" alt="Picture"  style="width:200px;height:200px;"> 
    <p> This was no ordinary project this was several homeworks worth of time. 
    We started off just having to read data set and make lists out of them. My biggest take away was not just seeing it come 
    together but also seing how all of my previous work mattered. I sometimes find it hard to understand the benifit of programing but for ths 
    assignment it was very clear to me. </p>
    </body>
</html>
