
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Class</title>
    <head>
    <body>
    <p>My classes spring 2020</p>
    
    <table>
         <tr>
            <th>Class</th>
            <th>Score out of 10</th>
            <th>Why it deserves that score</th>
         </tr>
         <tr>
            <td>Python</td>
            <td>8.5</td>
            <td> It was over all a very fun class I learned a lot and enjoyed the time I put in you could actually see results</td>
         </tr>
         <tr>
            <td>APMA</td>
            <td>3.5</td>
             <td> The material was easy enough but did not love lectures seemed a bit dry which meant moving to online was HORRIBLE</td>
         
         </tr>
         <tr>
            <td>Mechanics</td>
            <td>9</td>
             <td> Amazing teacher made the hard material easy to grasp and seemed like over all a great person would always relax us before and after quizzes.</td>
         </tr>
         <tr>
            <td>Orca</td>
            <td>7</td>
            <td> In all honesty the main reason I took python was to actually know python because this class used to much of it to program. It was fun and the results were fun to look at but class didnt always make sense with the homework</td>
        
         </tr>
         <tr>
            <td>Ancient Egypt</td>
            <td>1</td>
             <td>Biggest surprise was a global core and a nontech I went into this class really passionate about the suject and wanting to learn more I learned a lot but not through lecture</td>
         </tr>
         
      </table>
      <p> I am looking forward to being back on campus with my friends and professors learning from home is not as fun.</p>
    </body>
</html>

