<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Andrea Home</title>
    <head>
    <body>
    
    
    <p>Hello welcome to my website!</p>
    <img src="/static/Quinones_Andrea.jpg" alt="Picture"  style="width:350px;height:500px;"> 
    <p> My name is Andrea and I am a sophmore studying Mechanical Engineering</p>
  <p> <a href="http://127.0.0.1:5000/Assignment">Visit Assignment part of site</a></p>
   
    <p><a href="http://127.0.0.1:5000/Class">Visit Class part of site</a> </p>
    
    <p> <a href="https://www.webkinz.com/">Link to my favorite website</a></p>
    </body>
</html>

